@using DeathStarImperator.Core
@helper DisplayResource(Resource resource)
{
    <tr id="@resource.TableId">
        <td class="resource-name">@resource.Name.ToUpper()</td>
        <td class="resource-qty">@resource.Quantity</td>
        <td class="resource-maxqty">/@resource.MaxQuantity</td>
        <td class="resource-rate">@resource.Rate</td>
        <td class="resource-bonus @(resource.PercentAdjustment > 0 ? "red-text" : "green-text") ">@resource.Bonus</td>
        <td class="resource-progress">
            <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: @resource.Progress;"></div>
            </div>
        </td>
    </tr>
}